<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}

  	{% block content %}
</head>
<body>

<p class="Test">I четверть - посвящена целиком повторению изученного в начальнойшколе: действия с натуральными числами, свойства действий, решение уравнений и текстовых задач.

II четверть - традиционно изучаются обыкновенные дроби. Но на нашвзгляд, детям легче изучать десятичные дроби, нежели обыкновенные дроби сразу после натуральных чисел. Ведь сложение, вычитание и сравнение десятичных дробей аналогично действиям с натуральными числами - по разрядам! И так, за II четверть полностью изучаются десятичные дроби (за исключением темы «Проценты»).

III четверть - начинается с изучения новой темы «Обыкновенные дроби». Учащиеся полностью изучают сравнение, сложение и вычитание обыкновенных дробей, сокращение дробей, работу с координатным лучом, а также умножение и деление обыкновенных дробей.

IV четверть - начинается с изучения следующих тем: смешанные числа, задачи на дроби, решение уравнений (нахождение неизвестных множителей, делимого и делителя). Далее изучаются проценты, учащиеся решают текстовые задачи на проценты и на составление уравнений. После прохождения всех выше перечисленных тем, начинается заключительный этап учебного процесса по математике, а именно обобщение всего изученного и подведение итогов за год.</p>

</body>
{% endblock %}
</html>