<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>6 класс</title>
    {% extends "base.html" %}

  	{% block content %}
</head>
<body>

</body>
    <p class="Test">Из программы 6 класса осталось пройти следующие темы: «Положительные и отрицательные числа», «Решение уравнений», «Координатная плоскость», «Пропорция».

За I четверть изучаются положительные и отрицательные числа, координатная плоскость. Первые уроки четверти посвящаются повторению пройденного в 5 классе.

II четверть начинается с изучения темы: «Решение уравнений», а затем до конца четверти учащиеся занимаются нахождением неизвестного члена пропорции и решают задачи на прямую и обратную пропорциональную зависимость.

С окончанием II четверти заканчивается изучение материала 6-го класса.</p>
	{% endblock  %}
</html>