<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}

  	{% block content %}
</head>
<body>
<p class="Test">Школьная программа по математике в 7 классе знакомит школьников с такими важными понятиями как функции и многочлен. Изучаются свойства степени с натуральным показателем, а также рассматривается график линейной функции. Школьники научатся строить графики функций X во второй и в третей степени. 

Кроме того изучаются формулы сокращенного умножения  и использование их для  преобразования и разложения на множители различных выражений. Используя знания, полученные ранее, семиклассники учатся решать системы линейных уравнений как аналитическими, так и графическими способами.

Ниже представлены материалы, написанные нашими репетиторами, которые помогут вам разобраться в темах 7 класса по математике. Данные темы будут полезным как 7-классникам, так и их родителям, учителям и репетиторам.</p>
</body>
{% endblock  %}
</html>