<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/scripts/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/style.css">

	

	


	<title></title>
</head>
<body>
	<div class= "Main"> 
		<h1> МАТЕМАТИКА </h1>
		<h2>ЕГЭ | ОГЭ | ШКОЛЬНЫЙ КУРС</h2>

		<div class = "classes">
<div class="btn-group">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    5 класс
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#"> общее   </a>
    <a class="dropdown-item" href="#"> дроби </a>
    <a class="dropdown-item" href="#"> геометрические фигуры, углы   </a>
    <a class="dropdown-item" href="#"> координатная прямая  </a>

  </div>
</div>
		<button>6 КЛАСС</button>	
		<button>7 КЛАСС</button>
		<button>8 КЛАСС</button>
		<button>9 КЛАСС</button>
		<button>10 КЛАСС</button>
		<button>11 КЛАСС</button>

		</div>
	</div>

	

	<div class="Test">
		<p>
			Многие часто задаются вопросом зачем нужна математика?. Нередко сам факт того, что эта дисциплина входит в обязательную программу университетов и школ, ставит людей в недоумение. Это недоумение выражается в следующем: Мол, для чего мне, человеку чья будущая (или нынешняя) профессия не будет связана с ведением расчетов и применением математических методов, знать математику?

		</p>
		<p>
			Многие часто задаются вопросом зачем нужна математика?. Нередко сам факт того, что эта дисциплина входит в обязательную программу университетов и школ, ставит людей в недоумение. Это недоумение выражается в следующем: Мол, для чего мне, человеку чья будущая (или нынешняя) профессия не будет связана с ведением расчетов и применением математических методов, знать математику?

		</p>

		<p>
			Многие часто задаются вопросом зачем нужна математика?. Нередко сам факт того, что эта дисциплина входит в обязательную программу университетов и школ, ставит людей в недоумение. Это недоумение выражается в следующем: Мол, для чего мне, человеку чья будущая (или нынешняя) профессия не будет связана с ведением расчетов и применением математических методов, знать математику?

		</p>

		<p>
			Многие часто задаются вопросом зачем нужна математика?. Нередко сам факт того, что эта дисциплина входит в обязательную программу университетов и школ, ставит людей в недоумение. Это недоумение выражается в следующем: Мол, для чего мне, человеку чья будущая (или нынешняя) профессия не будет связана с ведением расчетов и применением математических методов, знать математику?

		</p>
		<p>
			Многие часто задаются вопросом зачем нужна математика?. Нередко сам факт того, что эта дисциплина входит в обязательную программу университетов и школ, ставит людей в недоумение. Это недоумение выражается в следующем: Мол, для чего мне, человеку чья будущая (или нынешняя) профессия не будет связана с ведением расчетов и применением математических методов, знать математику?

		</p>
		<p>
			Многие часто задаются вопросом зачем нужна математика?. Нередко сам факт того, что эта дисциплина входит в обязательную программу университетов и школ, ставит людей в недоумение. Это недоумение выражается в следующем: Мол, для чего мне, человеку чья будущая (или нынешняя) профессия не будет связана с ведением расчетов и применением математических методов, знать математику?

		</p>



	</div>

	<script 
	type="text/javascript"
	src="scripts/jquery-3.6.0.min.js">
	</script>

	<script 
	type="text/javascript" 
	src="scripts/script.js">
	</script>

	<script 
	type="text/javascript" 
	src="bootstrap/popper.min.js">
	</script>

	<script 
	type="text/javascript" 
	src="bootstrap/bootstrap.min.js">
	</script>
</body>
</html>