<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>создание своего варианта</title>
    {%  extends "base.html"  %}
    {% block content   %}
</head>
<body>
    <p>Ваш вариант: {{variant_id}}</p>
    <form action="/save_var/{{numbers}}" method="post">
    {% for index in range(1, numbers + 1) %}
    <div class="Task">
        <p> Задание {{index}}: </p>
        <input type="text" name="field_{{index}}">


    </div>
    <br>

    {% endfor %}
    <input type="submit" name="btn_end" value=Создать>

    </form>

    {% endblock  %}
</body>
</html>