<!DOCTYPE html>
<html>
<head>
	{% extends "base.html" %}

  {% block content %}
	
	<title> Добро пожаловать</title>
</head>
<body>

	

	<div class="Test">
		<p>
			Многие часто задаются вопросом зачем нужна математика?. Нередко сам факт того, что эта дисциплина входит в обязательную программу университетов и школ, ставит людей в недоумение. Это недоумение выражается в следующем: Мол, для чего мне, человеку чья будущая (или нынешняя) профессия не будет связана с ведением расчетов и применением математических методов, знать математику?

Чем мне это может пригодиться в жизни? Таким образом большое количество людей не видят никакого смысла для себя в освоении этой науки, даже на элементарных началах. Но я уверен, что математика, точнее навыки математического мышления, нужны всем и каждому. В этой статье я объясню, почему я в этом так уверен. Сначала я расскажу зачем эта дисциплина, как научное знание и метод, нужна вообще и где находится ее место в системе всех естественных наук и как она применяется на практике.

Если вы это итак знаете, но все равно задаетесь вопросом зля чего изучение этой дисциплины нужно лично вам, тогда переходите сразу ко второй части статьи. Там я буду говорить о том, какие личностные качества помогает развить математика, и чего вы лишитесь, если откажетесь от освоения этого предмета, хотя бы на базовом уровне.
Чем мне это может пригодиться в жизни? Таким образом большое количество людей не видят никакого смысла для себя в освоении этой науки, даже на элементарных началах. Но я уверен, что математика, точнее навыки математического мышления, нужны всем и каждому. В этой статье я объясню, почему я в этом так уверен. Сначала я расскажу зачем эта дисциплина, как научное знание и метод, нужна вообще и где находится ее место в системе всех естественных наук и как она применяется на практике.
		</p>
		



	</div>

</div>
      {% endblock %}
	
</body>
</html>